html {
  text-align: center;
  background-color: bisque;
  font-family: Verdana, Geneva, sans-serif;
}
body {
  margin: 0;
}
header {
  font-size: 72px;
  border-bottom: burlywood;
  border-width: 1.2rem;
  border-style: solid;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#resetButton {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 10px;
  border: 3px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 19px;
  padding: 12px 33px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #4d3534;
}
#resetButton:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
}
#resetButton:active {
  position: relative;
  top: 1px;
}

#scoreTab {
  display: flex;
  width: 300px;
  justify-content: space-between;
  font-size: 40px;
  justify-content: space-around;
}
.active {
  color: red;
}
.game-board {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
}
.gameDiv {
  /* background-color: red; */
  display: grid;
  border: 10px solid black;
  align-content: space-evenly;
  font-size: 80px;
  width: 150px;
  height: 150px;
}
.div1,
.div4,
.div7 {
  border-left: 0;
}
.div1,
.div2,
.div3 {
  border-top: 0;
}
.div3,
.div6,
.div9 {
  border-right: 0;
}

.div7,
.div8,
.div9 {
  border-bottom: 0;
}

.hidden {
  display: none;
}

.footer {
  position: fixed;
  bottom: -10px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 20px;
}
